footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #6c757d;
    width: 100%;
    margin-bottom: 10px;
}


.volume-popup {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 10%;
    padding: 20px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF0D6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-family: 'Poppins';
}

.volume-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #018EC3;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.volume-button:hover {
    background-color: #19b5ed;
}

#volume-slider {
    width: 100%;
    -webkit-appearance: none; 
    appearance: none;
    height: 8px; 
    background: #B0749A; 
    outline: none; 
    border-radius: 5px; 
    opacity: 0.8; 
    transition: opacity 0.2s;
}

#volume-slider:hover {
    opacity: 1; 
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: #B0749A; 
    cursor: pointer;
    border-radius: 50%; 
}

#volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #B0749A;
    cursor: pointer;
    border-radius: 50%;
}

#volume-slider::-webkit-slider-runnable-track {
    background: white; 
    border-radius: 5px;
}


.close-volume {
    margin-top: 10px;
    padding: 5px;
    background-color: #EE6880;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    color: white;
    font-weight: bold;

}

.close-volume:hover {
    background-color: #f8aebc;
}
@media (max-width: 480px) { 
    footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 7px;
    color: #6c757d;
    width: 100%;
    margin-bottom: 10px;
    }
    volume-popup {
        width: 50%;
        bottom: 5%;
        right: 5%;
        padding: 15px;
    }

    .volume-button {
        bottom: 30px;
        right: 10px;
        height: 7%;
        width: 40%;
        font-size: 16px;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    #volume-slider {
        width: 80%;
    }

    .close-volume {
        padding: 5px 10px;
        font-size: 14px;
    }
    
}



