footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #6c757d;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 480px) { 
    footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 7px;
    color: #6c757d;
    width: 100%;
    margin-bottom: 10px;
    }
}


